

#titulo{

	text-align: center;
	margin-top:20px;
	margin-bottom: 5px;
	color:white;

}
#subtitulo{

	color:#ff8000;

}


#menu{

	text-align: center;
	margin-top: 50px;

}

li{

	list-style: none;
	font-size: 10px;
	color: white;

}